.THIS.slds-card {
    overflow: hidden;
    background-color: rgb(243, 242, 242);
}

.THIS .lt-component-image_background {
    height: 180px;
    left: -20px;
    top: -20px
}

.THIS .lt-component-image_logo {
    width: 120px;
    display: block;
    
}
/* CSS FOR LOOP AND TIE LOGO */
.THIS .customCSS{
    width: 60%;
    height: 150%;
    /* left: -19px; */
    top: -41px;
}
/* CSS FOR LOOP AND TIE TEXT LOGO*/
.THIS .customCSS1{
    display: block;
    margin-left: auto;
    margin-right: 10%;
    width:90%;
}
/*CSS FOR SENDGIFT BUTTON*/
.THIS .buttonCss{
    width:109px;
}